body {
    margin: 0%;
    padding: 0%;
    color: #000000;
    cursor: default;
    scroll-behavior: smooth;
    background-color: black;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-image: url("assets/other/bg.png");
    background-color: #ffffff;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    cursor: default;
}

.backgroundmiles {
    position: fixed;
    z-index: 50;
    cursor: default;
}


/* .backgroundmiles:hover {
    transform: scale(1.2);
} */

.backgroundmiles.Tree {
    background-image: url("assets/other/Tree.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 50;
    left: 0;
    width: 100%;
}

.backgroundmiles.Crouch {
    background-image: url("assets/other/Crouch.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 50;
    left: 60vw;
    height: 20%;
    top: 50vh;
    width: 20%;
}

.backgroundmiles.Run {
    background-image: url("assets/other/Run.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 50;
    left: 10vw;
    height: 70%;
    bottom: 5vh;
    width: 70%;
}

.backgroundmiles.Caught {
    background-image: url("assets/other/Caught.png");
    background-size: contain;
    height: 70%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 50;
    left: 50%;
    transform: translate(-50%, 0);
    width: 70%;
    top: 10vh;
}

.backgroundmiles.invisible {
    display: none;
}

#allIcons {
    position: fixed;
    top: 0;
    left: 0;
    cursor: default;
    z-index: 175;
}

.icon {
    display: block;
    width: calc(100% / 12);
    min-width: 50px;
    opacity: 1;
    z-index: 75;
    cursor: default;
}

.icon:hover {
    transform: scale(1.2);
}

#icon1 {
    position: inherit;
    opacity: inherit;
    top: 10vh;
    left: 10vw;
}

#icon2 {
    position: inherit;
    opacity: inherit;
    top: 5vh;
    right: 5vw;
}

#icon3 {
    position: inherit;
    opacity: inherit;
    top: 60vh;
    left: 30vw;
}

#icon4 {
    position: inherit;
    opacity: inherit;
    top: 85vh;
    left: 70vw;
}

.texts {
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
    text-justify: inter-word;
    text-align: justify;
    justify-content: space-between;
    display: none;
    letter-spacing: 0.1em;
    position: relative;
    width: 50vw;
    min-width: 200px;
    margin-top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
}

.title {
    text-align: right;
    cursor: default;
}

.texts.is-visible {
    display: block
}

.project_img {
    cursor: default;
    display: none;
    width: 100%;
    position: relative;
}

.project_img.is-visible {
    display: block;
}

.bodytext.invisible {
    display: none;
}